aiofiles==25.1.0
aiogram==3.28.2
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
certifi==2026.4.22
click==8.4.0
fastapi==0.136.1
frozenlist==1.8.0
h11==0.16.0
idna==3.15
magic-filter==1.0.12
multidict==6.7.1
packaging==24.2
propcache==0.5.2
pydantic==2.13.4
pydantic_core==2.46.4
pyparsing==3.1.4
python-dotenv==1.2.2
python-multipart==0.0.29
setuptools==70.3.0
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.47.0
yarl==1.23.0
